.personagens li{
    display: inline-block; 
    padding: 15px;
}

.container {
    width: 100%;
    text-align: center;
}
.art {
    position: relative;
    width: 100%;
}

.imagem {
    display: inline-block;
    width: 345px;
    height: 460px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.art:hover .overlay {
    height: 100%;
}

.texto {
    white-space: normal;
    color: white;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
} 
