.container {
    font-family: 'Times New Roman', Times, serif;
    width: 720px;
    margin: auto;
    text-align: justify;
}

.titulo {
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    background-color: #555555;
    padding: 25px;
    font-family: algerian;
}

.titulo-pagina {
    font-size: 200%;
    text-align: center;
}