.title {
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    background-color: #555555;
    /*background-image: url(../img/banner.jpg);*/
    padding: 25px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.title-page {
    font-size: 200%;
    text-align: center;
    font-family: 'Cinzel', serif;
    padding: 20px;
}

.site-navigation {
    text-align: center;
    padding: 20px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.site-navigation li {
    display: inline;
    padding-right: 15px;
    font-size: 27px;
}

body {
    overflow-y: scroll;
    background-image: linear-gradient(0,#ABA77D, #F3EEB4  );
}

.container {
    width: 720px;
    margin: auto;
    text-align: justify;
    line-height: 1.5;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.content {
    min-height: calc(100vh - 70px);
}

footer {
    padding: 10px;
    background-color: grey;
    margin-bottom: 0;
}

footer a {
    color: black;
}

.columns {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.name-left {
   
    width:50%;
    float:left;
    text-align: center;
}
.name-right {
    
    width: 50%;
    float: right;
    text-align: center;
}

.names {
    text-align: center;
}

.social-networks li {
    display: inline-block;
    line-height: 1;
}
.social-networks a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}

.mail:hover {
    color: #480792;
}

.github {
    background-image: url(../img/github.png)
}

.linkedin {
    background-image: url(../img/linkedin.png)
}