.titulo-pagina {
    font-size: 200%;
    text-align: center;
    font-family: 'Rochester', cursive;
    padding: 20px;
}

.titulo {
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    background-color: #555555;
    padding: 25px;
    font-family: 'Sancreek', cursive;

}

.navegacao-site {
    text-align: center;
    padding: 20px;
    font-family: 'Rochester', cursive;
    font-size: 20px;
}
.navegacao-site li{
    display: inline;
    padding-right: 15px;
    font-size: 27px;
}

.container {
    width: 720px;
    margin: auto;
    text-align: justify;
    line-height: 1.5;
    font-family: 'Rochester', cursive;
    font-size: 25px;
}

b {
    font-weight: bold;
}

.footer {
    padding: 10px;
    background-color: #d1d1e0;
    height: 50px;
}

/* classe contendo o conteudo da pagina, usado p/calcular a distancia que o footer vai ficar do conteudo*/
.content {
    min-height: calc(100vh - 70px);
}